---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Javero Wiki - Mi Diccionario de Java y Spring",
  description = "Diccionario práctico de Java y Spring Boot con explicaciones, ejemplos y niveles de dificultad",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <link rel="icon" type="image/svg+xml" href="/logo_transparent.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <section class="container">
      <header>
        <h1 class="title">
          Wiki de <span style="color: #FF2F45;">Java</span> & <span
            style="color: #adff2f;">Spring</span
          >
        </h1>
        <section class="search-section">
          <input
            type="text"
            id="search-bar"
            placeholder="Ingresa lo que quieras buscar sobre Java..."
          />
          <ul id="suggestions"></ul>
        </section>
      </header>

      <section class="logo-section">
        <!-- <img src="/images/logo_transparent.png" id="home-logo" alt="Logo" /> -->
        <img src="/images/logo_portrait_mod.png" id="home-logo" alt="Logo" />
      </section>

      <main>
        <section id="main-content">
          <slot />
          <br />
        </section>
      </main>
    </section>
    <section class="goodbye">Gracias por leer el contenido.</section>
  </body>
</html>

<!-- Todo lo que se importa dentro de <script type="module"> se resuelve como una URL del navegador, NO como una ruta de archivos. -->
<!-- <script type="module">
  import "../scripts/search.ts";
</script> -->

<!-- Dev mode: Si veo un import absoluto que apunta a /src, lo compilo y lo sirvo como módulo ES, problema, solo funciona en modo desarrollo (pnpm run dev) -->
<!-- <script type="module">
  import "/src/scripts/search.ts";
</script> -->
<script type="module" src="/scripts/search.js"></script>
